:root {
  --background: #fff;
  --primary-text: #171717;
  --secondary-text: #666666;
}

body {
  background: var(--background);
  color: var(--primary-text);
  margin: 2.5rem;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-decoration: underline;
  text-align: center;
}

p {
  text-align: center;
  color: var(--secondary-text);
}

h2 {
  margin: 15px 0px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
}

.container {
  width: fit-content;
  margin: auto;
}

ol li {
  color: var(--secondary-text);
}

img {
  object-fit: cover;
  width: 500px;
  height: 300px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.group {
  object-fit: contain;
  width: fit-content;
}

.container-images{
  display: flex;
  gap: 50px;
  justify-content: center   ;
}